.button:hover{
    transition: 0.2s;
   background-color:black;
    color:white
}
h1:hover{
    transition: 0.2s;
    color: rgb(0, 255, 21);
}

label:hover{
    transition: 0.2s;
    color: rgb(0, 255, 21);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: blueviolet;
    text-align: center;
    margin: 600px;
    margin-top: 50px;
}
button{
    border-radius: 12%;
    font-family:fantasy;

    font-size: 20px;
}
.img{
font-size: 10px;
}
label{
    color: black;
}
td {
    border: solid 5px rgb(0, 0, 0);
    text-align: center;
    width: 70dvh;
    margin: 100px;
    vertical-align: top;
}

tr{
    text-align: center;
    background-color: rgb(235, 180, 108);
}
table{
    border: solid 5px rgb(255, 255, 255);
    
}
table:hover{
    transition: 0.3s;
    font-size: 16px;
    color:rgb(0, 255, 21);
}